<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Records</title>
</head>
<body>
    <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
                <h1 style="text-align: center; padding-bottom: 20px; font-size: 40px;">Attendance Records</h1>
    <div class="table-container">

        <% for(var i=0; i < data.length; i++) { %>
            <p>
            <b><%= data[i].date %></b> <br/>
            <% for(var j=0; j < data[i].students.length; j++) { %>
                <%= data[i].students[j] %>
            <% } %>
            </p>
        <% } %>
        
    </div>
</div>
</div>
</div>

</body>
</html>
